.boxmodel1{
    margin: 0 auto;
    width: 800px;
    border: 10px;
    padding: 10px;
    border-color: red yellow blue white;
    border-style: solid;
}
.boxmodel1 p{
    border: 3px dotted darkred;
    padding: 20px;
}
#boxmodel2{
    background-color: blue;
    padding: 10px;
    border: solid;
    margin-top: 50px;
}
#boxmodel3{
    margin-top: 50px;
}
#boxmodel4{
    margin-bottom: 70px;
}