<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</head>
<body>

<!--<form action="/blog" class="d-flex" role="search" th:value="${name}">-->
<!--    <input type="text" class="form-control me-2" name="search" placeholder="Search" aria-label="Search">-->
<!--    <button class="btn btn-outline-success" type="submit" style="width: 300px">Search</button>-->
<!--</form>-->


<h1 style="background-color:cornflowerblue">-----Blog-----</h1>
<a href="/create" class="btn btn-info">Create new Blog</a>
<div>
    <form action="/blog">
        <input type="text" th:placeholder="search" name="name" th:value="${name}">
        <button class="btn btn-outline-success" type="submit" style="font-size: 15px">search</button>
    </form>


</div>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table class="table table-warning table-striped-columns">
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
        <th>Date</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <th:block th:each="blog : ${blogList}">
        <tr>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.date}"></td>
            <td th:text="${blog.category.getName()}"></td>
            <td><a th:href="@{/edit/__${blog.id}__ }" class="btn btn-primary">Edit</a></td>
            <td><a th:href="@{/delete/__${blog.id}__ }" class="btn btn-danger">Delete</a></td>
            <th><a th:href="@{/{id}/view(id=${blog.getId()})}" class="btn btn-warning">View</a></th>

<!--            <td><a th:attr="onclick=|infoDelete('${blog.id}','${blog.title}')|"-->
<!--                   class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">-->
<!--                Delete-->
<!--            </a></td>-->
        </tr>
    </th:block>
</table>
</body>
</html>